.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.Navbar__logo {
  margin-right: 15px;
  padding: 0 13px;
  font-size: 22px;
  background-color: #eceff1;
  font-style: "Roboto";
  height: 100%;
  display: flex;
  align-items: center;
}

.Navbar__logo a {
  text-decoration: none;
  color: #000;
}

.Navbar__slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.Navbar__selectContainer {
  margin-left: auto;
  margin-right: 1rem;
}

.rc-slider-track {
  background-color: transparent !important;
}

.rc-slider-rail {
  height: 8px !important;
}

.rc-slider-handle {
  background-color: green !important;
  outline: none !important;
  border: 2px solid green !important;
  box-shadow: none !important;
  height: 13px;
  width: 13px;
  margin-left: -7px;
  margin-top: -3px;
}
